@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #323232;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat);
  --font-cormorant-garamond: var(--font-cormorant-garamond);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #323232;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cormorant-garamond), sans-serif;
}
