@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";


:root {
  --background: #ffffff;
  --foreground: #323232;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat);
  --font-cormorant-garamond: var(--font-cormorant-garamond);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #323232;
  }
}

@layer utilities {
  .gradient-animate {
    background-size: 200% 200%;
    background-position: left center;
    transition: background-position 0.8s ease-in-out;
  }
  .gradient-animate:hover {
    background-position: right center;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-cormorant-garamond), sans-serif;
}

